body{
  padding: 0;
  margin: 10;
  font-family: verdana;
}
table{

  border-color: red rgba(170, 50, 220, .6) green;
  margin: auto;
  padding: 10px;
  border-collapse: collapse;
  
}

caption{
  padding: 10px;
  margin: 10px;
  color: rgb(0, 0, 255);
  font-size: 2em;
 }
 th{
   background: aqua;
   border: 3px solid blue;
   margin: 10px;
   color: rgb(0, 0, 255);
   padding: 20px;
 }

 td{
   border: 3px solid blue;
   padding: 20px;
   margin: 10px;
   color: rgb(0, 0, 255);
   padding: 20px;
 }
